.image {
    padding: 0px 50px;
    width: 100%;
}

img {
    width: 100%;
    border-radius: 15px;
}

.container {
    padding: 100px 100px 0 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1680px;
    margin-right: auto;
    margin-left: auto;
}

.text-body {
    color: #424242; 
    padding: 50px 15%;
}

.notes {
    font-family: var(--font-mono);
}

/* .proj-footer {
    min-height: 210px;
    background-color: #E4D6FA;
    overflow: hidden;
    margin: 0;
}

.proj-footer .footer-thumbnail {
    width: 80%!important;
    position: absolute;
    margin-top: 40px;
    transition: 0.3s ease-in-out;
}

.proj-footer:hover .footer-thumbnail {
    transform: scale(1.03);
}

.hover-underline-animation {
    color: var(--black);
} */



/* MEDIA QUERIES */
@media screen and (max-width: 991px) {
    .container {
      padding: 50px 45px 0 45px;
    }   
}

@media screen and (max-width: 767px) {
    .container {
      padding: 50px 30px 0 30px;
    }

    .image {
        padding: 0;
    }
    .text-body {
        padding: 50px 5%;
    }
    .notes {
        text-align: center;
        padding-left: 15%;
        padding-right: 15%;
        padding-top: 10px;
    }

}

@media screen and (max-width: 576px) {
    .container {
      padding: 30px 30px 0 30px;
    }
    .text-body {
        padding: 40px 0;
    }
}

@media screen and (max-width: 479px) {
    .container {
      padding: 24px 24px 0 24px;
    }
}