<app-header [type]="'project'"></app-header>

<app-proj-page-title
    [tags]="[ 'UI/UX Design', 'Copywriting', 'HTML/CSS', 'Responsive Design' ]"
    title="rescalelab.com, redesigned"
    [comingSoon]="false" liveSiteUrl="https://rescalelab.com"
></app-proj-page-title>
    
<div class="container">
    <div class="image"><img src="../../../../assets/projects/rsl-main.png" alt=""></div>
    
    <div class="text-body">
        <p>In January 2021, I started my journey at Rescale Lab as a front-end developer intern, where my role revolved around developing and maintaining its online platform, RescaleLab.com. Over the few months of using the platform, I identified many issues in its user interface, and many pain points in common user flows which could be costing the site many valuable users.</p>
    
        <p>I took the initiative to redesign some of the high-traffic pages in my own time, considering the company's values and their current design standards (e.g. colour palette, typefaces). This case study will focus on the landing page only.</p>
    
        <p>After getting approval, I'm currently spearheading this project of redesigning the UI/UX and implementing the frontend of said platform, which (according to the first phase of user testing) has already outperformed the current design in terms of usability, usefulness and desirability.</p>
        
        <p>Below are a couple of screenshots of the current UI:</p>
    </div>

    <div class="image">
        <div class="row my-5">
            <div class="col-md-9">
                <img src="../../../../assets/projects/rescalelab/before-title.png" alt="">
            </div>
            <div class="col-md-3 notes">
                At first glance, it’s not clear as to what this company is about. Image is also distracting and confusing.
            </div>
        </div>

        <div class="row my-5">
            <div class="col-md-9">
                <img src="../../../../assets/projects/rescalelab/before-logos.png" alt="">
            </div>
            <div class="col-md-3 notes">
                The statistics and swathes of logos were intended to create social proof, but resulted in sensory overload.
            </div>
        </div>

        <div class="row my-5">
            <div class="col-md-9">
                <img src="../../../../assets/projects/rescalelab/before-features.png" alt="">
            </div>
            <div class="col-md-3 notes">
                Using a carousel to show the value proposition meant that it got limited interaction from users.
            </div>
        </div>
    </div>

    <div class="text-body">
        <h3>The title page</h3><hr>
        <p>As Rescale Lab is a startup, I felt that it was vital for me to keep its aim and main message clear. Given that the consensus from user interviews was that the landing page was confusing, my priority was keeping the design clean and minimal with no distractions to drive the main messages across.</p>

        <img class="my-5" src="../../../../assets/projects/rescalelab/after-title.png" alt="">

        <p>I kept the landing page very minimal to bring attention to where the accent color was used: making the value proposition and calls to action more visible and obvious. Using Figma, I also drew a bespoke illustration with small pops of color that complements the main message rather than distracts from it.</p>

        <br>
        <!-- SOCIAL PROOF -->
        <h3 class="mt-5">The social proof</h3><hr>
        <p>With the current UI being a sensory overload parade, and most of the companies featured also being lesser-known startups, I felt there was limited brand authority they could provide to our business. Instead, I opted to display well-known brand names that had featured Rescale Lab in their publications to lend more credibility to our brand. Clearly separating the logos and statistics, while emphasizing the numbers ensures the important points get the attention they need.</p>

        <img class="my-5" src="../../../../assets/projects/rescalelab/after-logos.png" alt="">

        <br>
        <!-- FEATURES -->
        <h3 class="mt-5">Value proposition and features</h3><hr>
        <p>I kept the value proposition concise and straight to the point, with eye catching illustrations.</p>

        <img class="my-5" src="../../../../assets/projects/rescalelab/after-features.png" alt="">
    </div>    
</div>

<!-- footer -->
<a routerLink="/project/berry" style="text-decoration: none;">
    <div class="w-100 proj-footer row" style="background-color: #E4D6FA;">
        <div class="col-sm-6 px-5 d-none d-sm-block">
            <img class="footer-thumbnail" style="width: 40%;" src="../../../../assets/projects/berry-thumbnail.png" alt="">
        </div>
        <div class="col-sm-6 d-flex flex-column justify-content-center">
            <p style="color: #6d6d6d;">Next project</p>
            <h2 class="hover-underline-animation">berry
                <i data-feather="arrow-right" width="20" height="20" class="live-site-arrow"></i>
            </h2>
        </div>
    </div>
</a>