.nav-item {
  font-weight: 500;
  margin-right: 28px;
  color: #899C9E;
  transition: .2s linear;
  font-size: 20px;
}

.nav-item:hover {
  color: #4c595a;
  font-size: 17px;
}

@media screen and (max-width: 991px) {
  .navbar-collapse {
    justify-content: end;
    text-align: end;
    z-index: 999;
    position: absolute;
    right: 0;
    top: 101px;
    background-color: #FDF9F7;
  }
  
  .collapsing {
    overflow:hidden;
    justify-content: end;
    text-align: end;
    z-index: 999;
    position: absolute;
    right: 0;
    top: 101px;
    background-color: #FDF9F7;
  }
}
