<div class="container-fluid">
  <div class="row">
    <div class="col-auto">
      <a href="#" class="header-homelink">
        <img style="height: 60px;" src="../../assets/head_static.png" alt="">
      </a>
    </div>

    <div class="col-auto ml-auto align-self-center">
      <nav class="navigation">
        <ul class="navigation-list">
          <li class="navigation-list-item">
            <a>About</a>
          </li>
          <li class="navigation-list-item">
            <a>Contact</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
