<div class="navbar w-100">

  <ul class="pl-0 mb-0 w-100 align-items-lg-center d-flex justify-content-between">

    <li class="logo navbar-brand"> 
      <a href="#" class="m-0 p-0 logo-a">
        <img src="../../assets/logoV2.svg" style="height: 90px;" alt="">
      </a> 
    </li>

    <section class="div_navbar_items">
      <li class="navbar_items fadedown" style="animation-delay: 200ms;"> <a href="/#about"> about </a> </li>
      <li class="navbar_items fadedown" style="animation-delay: 400ms;"> <a href="/#projects"> projects </a> </li>
      <li (click)="navBarFunction()" class="navbar_items fadedown" style="animation-delay: 600ms;"> <a href="#skills"> skills </a> </li>
      <li (click)="navBarFunction()" class="navbar_items fadedown" style="animation-delay: 800ms;"> <a href="#contact">
        <button class="tiff-btn btn-sec" style="padding: 8px 24px;">get in touch!</button>
      </a> </li>
    </section>

    <li class="icon">
      <a (click)="navBarFunction()">
        <img src="../../assets/menu-toggle.svg" style="height: 25px;" alt="">
      </a>
    </li>
  </ul>
</div>