<footer>
    <div class="d-flex flex-column justify-content-center align-items-center" style="height: 87vh; padding: 100px 20px 20px 20px;">
        <h1>drop me a line!</h1>

        <div class="d-flex mt-3">
            <a href="mailto:nottiffchan@gmail.com"><i data-feather="mail" color="#F99090" width="30" height="30" class="mx-2"></i></a>
            <a href="https://github.com/nottiffchan" target="_blank"><i data-feather="github" color="#F99090" width="30" height="30" class="mx-3"></i></a>
            <a href="https://www.linkedin.com/in/nottiffchan/" target="_blank"><i data-feather="linkedin" color="#F99090" width="30" height="30" class="mx-2"></i></a>
        </div>

        <p class="mt-3 text">i love mail and i'm always excited to talk about new projects, opportunities, and ideas.</p>

    </div> 
    <p style="font-family: 'Ubuntu Mono'; text-align: center; margin-bottom: 10px;">Designed and built by Tiffany Chan.</p>
    <div style="height: 15px;"></div>
</footer>