h1, p {
    color: #ffdac7;
}

h1 {
    font-weight: 700; 
    font-size: 68px;
}

.subtitle {
    width: 100%;
}

.icon {
    transition: .2s ease-in-out; 
}

.icon:hover {
    color: #ffbfbf;
}

.footnote {
    font-family: var(--font-family-monospace);
    text-align: center;
    margin-bottom: 10px;
    font-size: var(--text-xs);
}

.footer-content {
    height: 90vh;
    visibility: visible;
    opacity: 0;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 50, 0, 1);
}

.footer-content.visible {
    visibility: visible;
    opacity: 1;
    transform: translateY(30px);
    transition: opacity 600ms cubic-bezier(0.645, 0.045, 0.355, 1) 0.5s, transform 600ms cubic-bezier(0.645, 0.045, 0.355, 1) 0.5s;
}

@media screen and (min-width: 768px) {
    h1 { font-size: 88px; }

    .subtitle {
        width: 80%;
    }
}

@media screen and (min-width: 992px) {
    h1 { font-size: 100px; }
}
