<app-header [type]="'project'"></app-header>

<!-- <app-proj-page-title
    [tags]="[ 'Figma', 'Angular', 'Spotify API' ]"
    title="vibing."
    [comingSoon]="false" liveSiteUrl="https://v-ibing.herokuapp.com"
    repoUrl="https://github.com/nottiffchan/vibing"
></app-proj-page-title>-->

<app-proj-page-title
    [title]="'vibing.'"
    [description]="'Hack&Roll 2021 entry: creating personalized Spotify playlists for friends'"
    [heroImgPath]="'../../assets/projects/vibing-main-gif.gif'"
></app-proj-page-title>

<app-project-overview
    [background]="['vibing. is a web application that 3 friends and I developed for Hack&Roll 2021, an annual hackathon organized by NUS Hackers. It helps friends, especially ones with different music tastes, generate playlists of songs that they’ll both like.', 'At the time of the project, all of us had very little knowledge of web development and the framworks required and we were tragically unable to bring our app to completion in the hackathon.', 'However, after 2 months and gaining more confidence and understanding in the execution of the front and backend, I returned to vibing., redoing most of the code from scratch (both front and back-end) and improving it to create a fully responsive app which I have hosted on Heroku.']"

    [myRole]="'UX, UI Design, Front-End Build, Back-end, Deployment'"
    [toolsUsed]="'Figma, Angular, NodeJS, Spotify API'"
    [repoUrl]="'https://github.com/nottiffchan/vibing'"
    [liveSiteUrl]="'https://v-ibing.herokuapp.com'"
></app-project-overview>

<div style="margin-bottom: 200px;"></div>


<!-- <a routerLink="/project/rescalelab-redesign" style="text-decoration: none;">
    <div class="w-100 proj-footer row" style="background-color: #E7D0AB;">
        <div class="col-sm-6 px-5 d-none d-sm-block">
            <img class="footer-thumbnail" style="width: 40%;" src="../../../../assets/projects/rsl-thumbnail.png" alt="">
        </div>
        <div class="col-sm-6 d-flex flex-column justify-content-center">
            <p style="color: #6d6d6d;">Next project</p>
            <h2 class="hover-underline-animation">redesigning rescale lab
                <i data-feather="arrow-right" width="20" height="20" class="live-site-arrow"></i>
            </h2>
        </div>
    </div>
</a> -->