.proj-footer {
    min-height: 210px;
    /* background-color: #E4D6FA; */
    overflow: hidden;
    margin: 0;
}

.proj-footer .footer-thumbnail {
    width: 80%!important;
    position: absolute;
    margin-top: 40px;
    transition: 0.3s ease-in-out;
}

.proj-footer:hover .footer-thumbnail {
    transform: scale(1.03);
}

.hover-underline-animation {
    color: var(--black);
}



.card {
    border: 4px solid var(--purple);
    border-radius: var(--br-lg);
}

.proj-card-title {
    padding: 60px 30px;
}

.card img {
    padding: 0 1rem 3rem 1rem;
}

@media screen and (min-width: 756px) {
    .proj-card-title {
        padding: 80px 50px 100px 50px;
    }

    .card img {
        padding: 0 1.5rem 100px 1.5rem;
    }
}
