<div class="container">
    <div class="row w-100">
        <div class="col-xl-10 col-lg-8 col-sm-7">
            <h1 class="title mb-2">{{title}}</h1>
            <p *ngIf="comingSoon === true" class="coming-soon mb-0">coming soon</p>
            <div class="d-flex my-2 flex-wrap">
                <div *ngFor="let tag of tags" class="tag">
                    {{tag}}
                </div>
            </div>
        </div>
    
        <div class="col-xl-2 col-lg-4 col-sm-5 d-flex flex-column justify-content-center buttons">
            <a *ngIf="liveSiteUrl" [href]="liveSiteUrl" target="_blank" class="my-btn pri-btn mb-2 d-flex align-items-center link-btn">Live Site
                <i data-feather="arrow-right" width="20" height="20" class="live-site-arrow"></i>
            </a>
            <a [href]="repoUrl" target="_blank" class="my-btn sec-btn mt-2 d-flex align-items-center link-btn">Repository
                <i data-feather="arrow-right" width="20" height="20" class="repo-arrow"></i>
            </a>
        </div>
    </div>
</div>