.container {
    padding: 100px 100px 0 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1680px;
    margin-right: auto;
    margin-left: auto;
}

.title {
    font-weight: bold;
    font-size: 70px;
}

.coming-soon {
    color: var(--grey);
    font-size: 24px;
    font-weight: bold;
}

.tag {
    font-size: 14px;
    font-family: var(--font-mono);
    color: var(--green);
    border-radius: 12px;
    border: 2px solid var(--green);
    padding: 2px 12px;
    margin: 3px 10px 3px 0;
}

.live-site-arrow, .repo-arrow {
    margin-left: 5px;
    transition: ease-in-out 0.4s;
}
.pri-btn:hover .live-site-arrow {
    transform: translateX(12px);
}
.sec-btn:hover .repo-arrow {
    transform: translateX(10px);
}


/* MEDIA QUERIES */
@media screen and (max-width: 991px) {
    .container {
      padding: 50px 45px 0 45px;
    }
    
}

@media screen and (max-width: 767px) {
    .container {
      padding: 50px 30px 0 30px;
    }
    .title {
        font-size: 50px;
    }
}

@media screen and (max-width: 610px) {
    .tag {
        font-size: 13px;
    }
}

@media screen and (max-width: 576px) {
    .container {
      padding: 30px 30px 0 30px;
    }
    .row {
        width: auto!important;
    }
    .action-btn {
        font-size: 16px;
    }
    .live-site-arrow, .repo-arrow {
        height: 18px;
    }
}

@media screen and (max-width: 479px) {
    .container {
      padding: 24px 24px 0 24px;
    }
}