.container {
    padding: 100px 100px 0 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1680px;
    margin-right: auto;
    margin-left: auto;
}

.title {
    font-weight: bold;
    font-size: 65px;
    opacity: 0;
    animation: fadedown-enter-title 0.6s forwards;
}

.coming-soon {
    color: var(--grey);
    font-size: 22px;
    font-weight: 500;
}

.tag {
    font-size: 14px;
    font-family: var(--font-mono);
    color: var(--green);
    border-radius: 12px;
    border: 2px solid var(--green);
    padding: 2px 12px;
    margin: 3px 10px 3px 0;
    transition: .1s ease-in-out;
}

.pri-btn {
    opacity: 0;
    animation: fadeleft-enter 0.9s forwards;
}

.sec-btn {
    opacity: 0;
    animation: fadeleft-enter 1.4s forwards;
}

.live-site-arrow, .repo-arrow {
    margin-left: 5px;
    transition: ease-in-out 0.4s;
}
.pri-btn:hover .live-site-arrow {
    transform: translateX(12px);
}
.sec-btn:hover .repo-arrow {
    transform: translateX(10px);
}

.fadedown {
    opacity: 0;
    animation: fadedown-enter 1s forwards;
}

@keyframes fadedown-enter {
    0% {
      opacity: 0.01;
      transform: translateY(-40px);
      transition: opacity 400ms var(--easing), transform 400ms var(--easing);
    }
    100% {
      opacity: 1;
      transform: translateY(0px);
      transition: opacity 400ms var(--easing), transform 400ms var(--easing);
    }
}

@keyframes fadedown-enter-title {
    0% {
      opacity: 0.01;
      transform: translateY(-30px);
      transition: opacity 200ms var(--easing), transform 200ms var(--easing);
    }
    100% {
      opacity: 1;
      transform: translateY(0px);
      transition: opacity 200ms var(--easing), transform 200ms var(--easing);
    }
}

@keyframes fadeleft-enter {
    0% {
      opacity: 0.01;
      transform: translateX(40px);
      transition: opacity 300ms var(--easing), transform 300ms var(--easing);
    }
    100% {
      opacity: 1;
      transform: translateX(0px);
      transition: opacity 300ms var(--easing), transform 300ms var(--easing);
    }
}

/* MEDIA QUERIES */
@media screen and (max-width: 991px) {
    .container {
      padding: 50px 45px 0 45px;
    }   
}

@media screen and (max-width: 767px) {
    .container {
      padding: 50px 30px 0 30px;
    }
    .title {
        font-size: 50px;
    }

    .link-btn {
        margin-left: 0;
    }
}

@media screen and (max-width: 610px) {
    .tag {
        font-size: 13px;
    }
}

@media screen and (max-width: 576px) {
    .container {
      padding: 30px 30px 0 30px;
    }
    /* .row {
        width: auto!important;
    } */
    .live-site-arrow, .repo-arrow {
        height: 18px;
    }
    .buttons {
        margin: 20px 0;
    }
}

@media screen and (max-width: 479px) {
    .container {
      padding: 24px 24px 0 24px;
    }
}