<!-- <app-header class="header"></app-header> -->

<div class="container">
  <div class="row align-items-center">
    <div class="col-lg-4 order-lg-2 order-xl-2 order-xxl-2">
      <figure class="girlhead">
        <img src="../assets/head.gif" alt="Drawing of cute girl" style="display: block; width: 100%; margin: 0 0 -5% 0;">
      </figure>

    </div>


    <div class="col-sm-12 col-lg-8 title-section">
      <!-- <h1 class="title">I’m Tiffany Chan, a design-oriented front-end developer that loves building beautiful interfaces & experiences.</h1> -->

      <h1 class="title">
        <span>I</span><span>’</span><span>m </span>
        <span>T</span><span>i</span><span>f</span><span>f</span><span>a</span><span>n</span><span>y </span>
        <span>C</span><span>h</span><span>a</span><span>n</span><span>, </span>
        <span>a </span>
        <span>d</span><span>e</span><span>s</span><span>i</span><span>g</span><span>n</span><span>-</span>
        <span>o</span><span>r</span><span>i</span>
        <span>e</span><span>n</span><span>t</span><span>e</span><span>d </span>
        <span>f</span><span>r</span><span>o</span><span>n</span><span>t</span><span>-</span>
        <span>e</span><span>n</span><span>d </span>
        <span>d</span><span>e</span><span>v</span><span>e</span><span>l</span><span>o</span><span>p</span> <span>e</span><span>r </span>
        <span>t</span><span>h</span><span>a</span><span>t </span>
        <span>l</span><span>o</span><span>v</span><span>e</span><span>s </span>
        <span>b</span><span>u</span><span>i</span><span>l</span><span>d</span><span>i</span><span>n</span><span>g </span>
        <span>b</span><span>e</span> <span>a</span> <span>u</span><span>t</span> <span>i</span> <span>f</span>
        <span>u</span><span>l </span>
        <span>i</span><span>n</span><span>t</span><span>e</span> <span>r</span> <span>f</span><span>a</span> <span>c</span><span>e</span><span>s </span><span>& </span>
        <span>e</span><span>x</span><span>p</span><span>e</span> <span>r</span><span>i</span> <span>e</span> <span>n</span><span>c</span><span>e</span><span>s</span><span>.</span>
      </h1>

      <p class="getintouch">Get in touch
        <i data-feather="arrow-right"></i>
        <a class="email" href="mailto:nottiffchan@gmail.com">nottiffchan@gmail.com</a>
      </p>
    </div>


  </div>
</div>
