<app-header class="header"></app-header>

<div class="container mx-auto">
  <div class="row">
    <div class="col-md-8" style="display: flex; flex-direction: column; justify-content: center; align-items: flex-start; min-height: 100vh;">
      <p class="text-blue" style="font-weight: 900; font-size: clamp(50px, 9vw, 100px);">tiffany<span style="color: #1A1A1A; -webkit-text-stroke: 2px #FAFAFA;">chan</span></p>

      <p class="font-ubuntu desc">Frontend Developer, UI Designer, 3rd year NUS Computer Science student.</p>

      <button class="cta-btn">View Work</button>
    </div>

    <div class="col-md-4">

    </div>
  </div>
</div>
