.title {
  font-weight: bold;
  color: var(--green);
  line-height: 120%;
  font-size: 4vw;
  margin-bottom: 45px;
}

h1 span {
  transition: color 2s;
  transition-delay: 1.5s;
}

h1 span:nth-child(1n):hover {
  color: var(--pink);
}

h1 span:nth-child(2n):hover {
  color: var(--gold);
}

h1 span:nth-child(3n):hover {
  color: var(--pink-dark);
}

h1 span:hover {
  transition: color 0s;
}

.girlhead {
  width: 70%;
  overflow: hidden;
  margin: 0;
}

.header {
  padding-top: 15px;
  position: relative;
  z-index: 999;
  height: 60px;
  transition: all 0.8s;
}

.container {
  padding: 0 0 100px 100px;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100vh;
  max-width: 1680px;
  margin-right: auto;
  margin-left: auto;
}

.title-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: fit-content;
}

.getintouch {
  font-size: 25px;
  font-weight: bold;
  color: var(--black);
}

.email {
  color: var(--green);
  text-decoration: underline;
  margin-left: 13px;
}

.email:hover {
  color: var(--pink);
}

/* title section end */

/* body start */

section {
  display: flex;
  justify-content: center;
  padding: 100px 170px;
}

.section-title {
  flex-shrink: 0;
  width: 200px;
  margin-right: 70px;
  color: var(--green);
  text-transform: uppercase;
  text-align: right;
  font-weight: 700;
  letter-spacing: 2px;
}

.section-content {
  font-weight: 300;
  font-size: 1rem;
  width: 100%;
  max-width: 650px;
}

.tiffany-pic {
  align-self: center;
  margin-top: 50px;
  max-width: 60%;
  height: auto;
}

.skill-cols {
  display: flex;
  justify-content: space-between;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.skill-cat-title {
  font-weight: 700;
  text-transform: uppercase;
}

.skill-cat-item {
  margin: 3px 0;
  font-size: .9rem;
}

.fade-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-color: #313B3B; */
  background-color: #473C3C;
  z-index: -1;
  opacity: 0;
}

/* MEDIA QUERIES */
@media screen and (min-width: 1300px) {
  .title {
    font-size: 54px;
    width: 95%;
  }

  .girlhead {
    margin-bottom: 15%;
  }
}

@media screen and (max-width: 1024px) {
  section {
    padding: 50px;
  }

  .section-title {
    margin-right: 50px;
  }
}

@media screen and (max-width: 991px) {
  .container {
    padding: 80px 32px 0 60px;
  }

  .title {
    font-size: 4.7vw;
  }

  .girlhead {
    width: 90%;
    margin-bottom: 8%;
  }

  .getintouch {
    font-size: 20px;
  }

  .section-title {
    width: 150px;
  }
}

@media screen and (max-width: 767px) {
  .container {
    padding: 80px 24px 0 40px;
  }

  .title {
    font-size: 5vw;
  }

  .girlhead {
    margin-bottom: 50%;
  }

  .getintouch {
    font-size: 15px;
  }

  section {
    display: block;
  }

  .section-title {
    text-align: left;
    width: auto;
  }

  .section-content {
    padding-top: 30px;
    padding-left: 50px;
  }
}

@media screen and (max-width: 630px) {
  .skill-cols {
    flex-wrap: wrap;
  }

  .skill-cat {
    width: 47%;
    margin-right: 5px;
    margin-bottom: 25px;
  }
}

@media screen and (max-width: 576px) {
  .container {
    padding: 80px 30px 0 30px;
  }

  .girlhead {
    margin-bottom: 30px;
    width: 50%;
  }

  .title {
    text-align: center;
  }

  .getintouch {
    margin-right: auto;
    margin-left: auto;
  }

  .img-section {
    display: flex;
    justify-content: center;
  }

  .tiffany-pic {
    width: 90%;
  }
}

@media screen and (max-width: 479px) {
  .container {
    padding: 60px 24px 0 24px;
  }

  .title {
    font-size: 8vw;
  }

  .girlhead {
    width: 70%;
    margin-top: 60px;
    margin-bottom: 30px;
  }

  section {
    padding: 50px 35px;
  }

  .section-content {
    padding-left: 30px;
  }
}

@media screen and (max-width: 400px) {
  .getintouch {
    font-size: 14px;
  }

  p i {
    width: 17px;
  }
}

@media screen and (max-width: 333px) {
  .feather-arrow-right {
    margin-right: 13px;
  }

  .email {
    margin-left: 0;
  }
}
