<app-header class="header"></app-header>

<div class="container">
  <div class="row align-items-center">
    <div class="col-lg-4 order-lg-2 order-xl-2 order-xxl-2">
      <figure class="girlhead">
        <img src="../assets/head.gif" alt="Drawing of cute girl" style="display: block; width: 100%; margin: 0 0 -5% 0;">
      </figure>

    </div>


    <div class="col-sm-12 col-lg-8 title-section">
      <h1 class="title">I’m Tiffany Chan, a design-oriented front-end developer that loves building beautiful interfaces & experiences.</h1>

      <p class="getintouch">Get in touch
        <i data-feather="arrow-right"></i>
        <a class="email" href="mailto:nottiffchan@gmail.com">nottiffchan@gmail.com</a>
      </p>
    </div>


  </div>
</div>
