<!-- <div class="cursor" id="cursor"></div>
<div class="cursor-child" id="cursor-child"></div> -->

<app-header id="header" [type]="'main'"></app-header>

<div class="container">
    <div class="row align-items-center">
      <div class="d-flex justify-content-center d-md-block justify-content-md-start col-md-3 order-md-2">
        <!-- <figure class="girlhead fadeIn">
          <img src="../assets/head.gif" alt="Drawing of cute girl" style="display: block; width: 100%; margin: 0 0 -5% 0;">
        </figure> -->
        <figure class="girlhead fadeIn"><img src="../../assets/herogifV2.gif" class="girlhead w-100" alt=""></figure>
      </div>
      <div class="col-md-9 pr-md-5 title-section">
        <h1 class="title fadeIn" style="animation-delay: 200ms;">
          <span>h</span><span>o</span><span>l</span><span>a</span><span>, </span><span>i</span><span>’</span><span>m </span><span>t</span><span>i</span><span>f</span><span>f</span><span>!</span>
          <br>
          <span>i</span><span>’</span><span>m </span><span>a </span><span>f</span><span>r</span><span>o</span><span>n</span><span>t</span><span>-</span><span>e</span><span>n</span><span>d </span><span>d</span><span>e</span><span>v</span><span>e</span><span>l</span><span>o</span><span>p</span><span>e</span><span>r </span><span>+ </span><span>u</span><span>x</span><span>/</span><span>u</span><span>i </span><span>d</span><span>e</span><span>s</span><span>i</span><span>g</span><span>n</span><span>e</span><span>r </span>

          <span>a</span><span>n</span><span>d </span><span>i </span><span>l</span><span>o</span><span>v</span><span>e </span>
          <span>b</span><span>u</span><span>i</span><span>l</span><span>d</span><span>i</span><span>n</span><span>g </span><span>b</span><span>e</span><span>a</span><span>u</span><span>t</span><span>i</span><span>f</span><span>u</span><span>l </span><span>i</span><span>n</span><span>t</span><span>e</span><span>r</span><span>f</span><span>a</span><span>c</span><span>e</span><span>s </span><span>& </span><span>e</span><span>x</span><span>p</span><span>e</span><span>r</span><span>i</span><span>e</span><span>n</span><span>c</span><span>e</span><span>s</span><span>.</span>
        </h1>
        <p class="getintouch fadeIn">Get in touch
          <i data-feather="arrow-right" class="mr-2"></i>
          <a class="email" href="mailto:hi@nottiffchan.com">hi@nottiffchan.com</a>
        </p>
      </div>
    </div>
    <a href="#about" class="scroll d-none d-sm-block">
      Scroll
      <span><i class="bounce" style="color: var(--purple);" data-feather="chevron-down"></i></span>
    </a>
</div>
  
<div class="wave-divider purple-wave" style="margin-top: 200px;"></div>

<section id="about" class="section d-flex flex-column" style="padding-top: 100px;">
    <h1 class="purple-font" style="margin-bottom: 80px;">about me</h1>
    <div class="row align-items-center">
      <div class="col-md-4">
        <img src="../../assets/my-purple-face.png" style="width: 100%;" alt="">
      </div>
      <div class="col-md-8 mt-5 pl-md-5 mt-md-0">
        <p>I’m a final year <span class="font-weight-bold">Computer Science</span> student with a minor in <span class="font-weight-bold">Communications</span> at the National University of Singapore (NUS).</p>
        <p>I have working experience in, and absolutely love doing <span class="font-weight-bold">full-stack development</span> and <span class="font-weight-bold">user experience and interface design</span>.</p>
        <p>My favorite projects are those that allow me to work at the crossroads of disciplines, combining my design and development skills to solve complex problems and create ✨ <span class="font-weight-bold">beautiful experiences</span> ✨</p>
      </div>
    </div>
</section>

<div class="wave-divider green-wave" style="margin-top: 100px;"></div>

<section id="projects" class="section flex-column" style="padding-top: 200px;">
  <h1 class="purple-font" style="margin-bottom: 80px;">projects</h1>
  <app-projects (enterProjCursor)="enterProjCursor()" (exitProjCursor)="exitProjCursor()" (openProjCursor)="exitProjCursor()"></app-projects>
</section>

<div class="wave-divider pink-wave" style="margin-top: 100px;"></div>
  
<section id="skills" class="section flex-column" style="padding-top: 200px; margin-bottom: 100px;">
  <div class="d-flex align-items-center justify-content-between w-100 flex-wrap flex-md-nowrap" style="margin-bottom: 80px;">
    <h1 class="purple-font">résumé</h1>
    <a href="../assets/TiffanyChanCV.pdf" target="_blank" class="a-button">
      <button class="tiff-btn btn-sec w-100">
        Download PDF
        <i class="ml-2" data-feather="arrow-right"></i>
      </button>
    </a>
  </div>

  <div class="row mx-0 mb-4 mt-4 mt-md-0">
    <div class="col-md-6 mb-4 mb-md-0 pr-md-2 pl-md-0 px-0">
      <div class="card" style="min-height: 631px;">
        <h2 class="purple-font" style="margin-bottom: 40px;">work</h2>
        <ng-container *ngFor="let job of work">
          <h3 class="mb-3" ><a class="underline-grey" [href]="job.url">{{job.company}}</a></h3>
          <p class="mb-3">{{job.position}}</p>
          <p class="mb-5 font-italic">{{job.time}}</p>
        </ng-container>
      </div>
    </div>

    <div class="col-md-6 pl-md-2 pr-md-0 px-0">
      <div class="card">
        <h2 class="purple-font" style="margin-bottom: 40px;">education</h2>
        <ng-container *ngFor="let school of school">
          <h3 class="mb-3"><a class="underline-grey" [href]="school.url">{{school.school}}</a></h3>
          <p class="mb-3">{{school.description}}</p>
          <p class="mb-5 font-italic">{{school.time}}</p>
        </ng-container>
      </div>
    </div>
  </div>

  <section style="min-height: auto; padding: 0;">
    <div class="card w-100">
      <h2 class="purple-font" style="margin-bottom: 40px;">skills</h2>
      <div class="row m-0">
        <div class="col-md-6 mb-3 mb-md-0 p-0 pr-md-5 pl-0 justify-content-between">
          <h3 class="mb-3">Development</h3>
          <div class="w-100 d-flex justify-content-between align-items-center">
            <div>
              <ng-container *ngFor="let skill of skills[0].data; let i = index">
                <p *ngIf="i < 5">{{ skill }}</p>
              </ng-container>
            </div>
            <div>
              <ng-container *ngFor="let skill of skills[0].data; let i = index">
                <p *ngIf="i >= 5">{{ skill }}</p>
              </ng-container>
            </div>
          </div>
        </div>
        <div class="col-md-6 p-0 pl-md-5 pr-0 justify-content-between">
          <h3 class="mb-3">Design</h3>
          <div class="w-100 d-flex align-items-start flex-column flex-md-row justify-content-between">
            <div>
              <ng-container *ngFor="let skill of skills[1].data; let i = index">
                <p *ngIf="i < 3">{{ skill }}</p>
              </ng-container>
            </div>
            <div>
              <ng-container *ngFor="let skill of skills[1].data; let i = index">
                <p *ngIf="i >= 3">{{ skill }}</p>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>

<app-footer id="contact"></app-footer>

<div class="fade-bg" [ngStyle]="{'opacity': opacity}"></div>