.wave-divider { 
    width: 100%;
    position: relative;
    height: 36px;
    margin: 100px 0;
    animation: 5s wave linear infinite;
}

.purple-wave {
    background: url(../../../assets/wavelines/purple-wave.svg) repeat-x 0%;
    background-size: contain;
}

.green-wave {
    background: url(../../../assets/wavelines/green-wave.svg) repeat-x 0%;
    background-size: contain;
}

.pink-wave {
    background: url(../../../assets/wavelines/pink-wave.svg) repeat-x 0%;
    background-size: contain;
}

.yellow-wave {
    background: url(../../../assets/wavelines/yellow-wave.svg) repeat-x 0%;
    background-size: contain;
}

@keyframes wave {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 100% 0;
    }
}