/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Ubuntu+Mono:wght@400;700&display=swap');
@import "~bootstrap/dist/css/bootstrap.min.css";

html, body {
  font-family: 'DM Sans', sans-serif;
  background-color: #FDF9F7;
  cursor: none!important;
}

:root {
  --green: #4C8E96;
  --black: #313B3B;
  --pink: #F59393;
  --pink-light: #F7CDC4;
  --pink-dark: #FA9293;
  --gold: #E69F22;

  --fz-xxs: 12px;
  --fz-xs: 13px;
  --fz-sm: 14px;
  --fz-md: 16px;
  --fz-lg: 18px;
  --fz-xl: 20px;
  --fz-xxl: 22px;

  --font-mono: 'Ubuntu Mono';

  --border-radius: 24px;
  --nav-height: 50px;

}

::selection {
  background: var(--pink-light);
}
