/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Ubuntu+Mono:wght@400;700&display=swap');
@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  font-family: var(--font-family-sans-serif);
  background-color: var(--bg-color);
  font-size: var(--text-body);
  cursor: none!important;
  color: var(--black);
  overflow-x: hidden;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

html {
  scroll-behavior: smooth;
}

:root {
  --green: #4C8E96;
  --black: #313B3B;
  --purple: #5F3962;
  --pink: #F59393;
  --pink-light: #F7CDC4;
  --pink-dark: #FA9293;
  --gold: #E69F22;
  --grey: #8E8D89;
  --yellow: #F5D5A4;
  --bg-color: #FDF9F7;

  --text-display: 4.2rem;
  --text-h1: 54px; 
  --text-h2: 36px;
  --text-h3: 24px;
  --text-body: 18px;
  --text-xs: 18px;

  --br-lg: 30px;
  --br-md: 20px;
  --br-sm: 10px;

  --font-family-sans-serif: 'DM Sans', -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  --font-family-monospace: 'Ubuntu Mono', SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;

  --easing: cubic-bezier(0.645, 0.045, 0.355, 1);
  --transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}

::selection {
  background: var(--pink-light);
}

.purple-font {
  color: var(--purple);
}

.text-xs {
  font-size: var(--text-xs);
}
h3, .text-h3 {
  font-size: var(--text-h3);
  font-weight: bold;
}
h2, .text-h2 {
  font-size: var(--text-h2);
  font-weight: bold;
}
h1, .text-h1 {
  font-size: var(--text-h1);
  font-weight: bold;
}
.text-display {
  font-size: var(--text-display);
  font-weight: bold;
}
.sec-text {
  color: var(--grey);
}

li {
  margin: 18px 0;
}

.tiff-btn {
  font-weight: bold;
  border-radius: var(--br-sm);
  padding: 12px 28px;
  transition: var(--transition);
  border: none;
}

.btn-pri {
  background-color: var(--purple);
  color: white;
  box-shadow: 2px 3px #896C8B;
}

.btn-pri:hover {
  background-color: #896C8B;
  box-shadow: none;
}

.btn-sec {
  color: var(--purple);
  border: 1px solid var(--purple);
  box-shadow: 2px 3px var(--purple);
  background-color: transparent;
}

.btn-sec:hover {
  box-shadow: none;
  background-color: var(--purple);
  color: white;
}

.hover-underline-animation {
  display: inline-block;
  width: fit-content;
  position: relative;
}

.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -1px;
  left: 0;
  background-color: var(--black);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.proj-wrap {
  padding: 0 24px;
}

@media screen and (min-width: 1240px) {
  .proj-wrap {
    padding: 0;
  }
}

@media screen and (min-width: 576px) {
  .tiff-btn {
    width: auto;
  }

  :root {
    --text-body: 22px;
    --text-h3: 32px;
    --text-h2: 48px;
    --text-h1: 45px;
    --text-display: 3.5rem;
  }
}