/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@300;400;500;600;700;800&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import "~bootstrap/dist/css/bootstrap.min.css";

html, body {
  font-family: 'Sora';
  background-color: #1A1A1A;
  color: #FAFAFA;
}

:root {
  --blue: #43CAF5;
  --white: #FAFAFA;

  --fz-xxs: 12px;
  --fz-xs: 13px;
  --fz-sm: 14px;
  --fz-md: 16px;
  --fz-lg: 18px;
  --fz-xl: 20px;
  --fz-xxl: 22px;

  --font-mono: 'Ubuntu Mono';

  --border-radius: 24px;
  --nav-height: 100px;

  --transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
}
